


  .tablee {
    width: 100;
    display: grid;
    overflow-x:auto;
    margin: 0 auto;
    padding: 0em 1em 0em 1em;
    border-radius: 2em;
    color: #030303;
    background-color: #fefefe;
    font-family: Zona;
    border-spacing: 1em 2em;
    
  }

  th{

    font-size: 1em;
  }

  td{
    
    font-size: 0.7em;
    text-align: center;
    border-radius: 1em;
    color: #fefefe;
    padding: 0.6em;
    font-weight: 800;
  }


